:root {
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

#calculator-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgb(116, 126, 255);
    height: 750px;
    width: 600px;
    border: 2px solid rgb(21, 55, 209);
    border-radius: 25px;
}

#output {
    background-color: rgb(202, 202, 202);
    width: 550px;
    height: 85px;
    margin: 25px;
    margin-bottom: 0px;
    border: 1px solid rgba(0, 0, 0);
    font-size: 65px;
    font-weight: 900;
    text-align: right;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
    line-height: 85px;
    padding-right: 15px;
    padding-left: 18px;
    box-sizing: border-box;
    white-space: nonwrap;
    overflow: hidden;
}

#top-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 60px;
    margin: 5px 25px;
    margin-top: 10px;
    gap: 8px;
}

.top-button, .middle-button, .bottom-button {
    font-size: 36px;
    font-weight: bold;
    color: white;
}

.top-button:hover,
.middle-button:hover,
.bottom-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    border: 4px solid black;
}

.top-button {
    background-color: rgb(68, 38, 201);
    border: 2px solid white;
    box-sizing: border-box;
}

#middle-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 82px;
    gap: 8px;
    margin: 0px 25px;
}

.middle-button {
    background-color: rgb(68, 38, 201);
    border: 2px solid white;
    box-sizing: border-box;
}

#bottom-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 82px;
    margin: 0px 25px;
    margin-bottom: 10px;
    gap: 8px;
}

.bottom-button {
    background-color: rgb(68, 38, 201);
    border: 2px solid white;
    box-sizing: border-box;
}

.gold-button {
    background-color: gold;
    color: black;
    border: 2px solid black;
}

.gold-button:hover {
    background-color: rgb(255, 217, 0);
    color: rgb(206, 16, 16);
    cursor: pointer;
    border: 4px solid rgb(206, 16, 16);;
}